<section class="l-breadcrumb">
  <div class="l-section__container">
    <ol class="l-breadcrumb__list">
      <li class="l-breadcrumb__item"><a href="/">トップページ</a></li>
      <li class="l-breadcrumb__item"><%- pageName %></li>
    </ol>
  </div>
</section>
