<!-- Modal.ejs -->

<div class="modal_layer" id="jsModal">
  <div id="ModalCloseBG" class="modal_bg"></div>
  <div class="modal">
    <div class="modal_inner">
      <div class="modal_button_wrap">
        <button class="close_button" id="jsCloseButton">
          <span class="close_button_line"></span>
          <span class="close_button_line"></span>
        </button>
      </div>
      <div class="modal_content_wrap">
        <ul class="modal_content">
          <li class="modal_content_list"></li>
          <li class="modal_content_list"></li>
          <h2 class="modal_title">Charles Bartholomew Bass</h2>
          <img
            class="modal_image"
            src="https://i.pinimg.com/564x/2b/47/4b/2b474b1875e16bd4397bba42f1b7722f.jpg"
            width="100"
            alt="Chuck Bass"
          />
          <p class="modal_detail">
            Lorem ipsum dolor sit amet, consec lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore. Amet, consec lorem ipsum dolor sit
            amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet.
          </p>

          <!-- ボタン アニメーション02 -->
          <div class="btn_wrapper">
            <a class="btn btn_animation_01"> Watch w/ Netflix </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
