// -------------------------------------------------------------------
//  furniture.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mixin" as mix;
@use "../helpers/mediaquery" as med;

[data-page="furniture"] {
  /* 家具のリース｜画像 */
  .l-furniture__images {
    .l-furniture__images__wrap {
      display: flex;

      > li {
        flex-basis: calc(100% / 5);

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  /* 家具のリース｜ポイントセクション */
  .l-furniture__point {
    .l-furniture__list {
      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: 60px;
    }

    .l-furniture__item {
      flex-basis: 245px;
      box-shadow: 0 3px 10px rgba(var.$KEY_COLOR_BK, 0.2);
      padding: 100px 20px 40px 20px;
      line-height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      position: relative;

      .l-furniture__item__icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
      }

      &:nth-child(1) {
        .l-furniture__item__icon {
          background-image: url(../images/furniture/icon_money.png);
        }
      }
      &:nth-child(2) {
        .l-furniture__item__icon {
          background-image: url(../images/furniture/icon_check.png);
        }
      }
      &:nth-child(3) {
        .l-furniture__item__icon {
          background-image: url(../images/furniture/icon_heart.png);
        }
      }
    }
  }
}
