// -------------------------------------------------------------------
//  textBase.scss
// -------------------------------------------------------------------
@use "../../helpers/variables" as var;
@use "../../helpers/mixin" as mix;
@use "../../helpers/mediaquery" as med;

.c-text__base {
  @include mix.fontsize(14);

  + .c-text__base {
    margin-top: 20px;

    &:has(> small) {
      margin-top: 10px;
    }
  }

  > small {
    @include mix.fontsize(12);
    display: inline-block;
  }

  &.is-emphasize {
    @include mix.fontsize(18);
    color: var.$KEY_COLOR;
  }

  &.is-en {
    @include mix.fontsize(20);
    font-family: var.$EN_FONT_FAMILY;
    font-weight: $FONT_WEIGHT_L;
    letter-spacing: 1px;
  }
}
