<div class="c-btn">
  <a href="<%= btnPath %>" class="c-btn__link"
     <%= typeof target !== 'undefined' && target === 'blank' ? 'target="_blank" rel="noopener noreferrer"' : '' %>>
    <span><%= btnText %></span>
  </a>
</div>
