<section class="c-contact">
  <a href="#" target="_blank" rel="noopener noreferrer" class="c-contact__wrap">
    <div class="c-contact__text__wrap">
      <div class="c-contact__text is-align-center">
        <h2 class="c-contact__title">
          <span>CONTACT</span>
        </h2>
        <p class="c-text__base">お問い合わせ</p>
        <p class="c-link is-blank">LINEよりお気軽にお問い合わせください</p>
        <div class="c-contact__line__image">
          <img
            src="<%= path %>images/common/icon_line.svg"
            alt="LINE"
            width="50"
          />
        </div>
      </div>
    </div>
    <div class="c-image__wrap">
      <img
        src="https://i.pinimg.com/564x/a7/9d/a1/a79da1404c877a33a5a4a79534352338.jpg"
        alt="お問い合わせはこちら"
        width="100"
        class="c-contact__image"
      />
    </div>
  </a>
</section>
